name: Build Release Artifacts

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Install Packages
        run: sudo apt update && sudo apt install g++ g++-mingw-w64-x86-64 && git submodule init && git submodule update
        
      - name: Build
        run: ./deploy.sh
        
      - name: Upload artifacts
        uses: Roang-zero1/github-upload-release-artifacts-action@v2
        with:
          args: "deploy/atmosim_windows.zip deploy/atmosim_linux.tar.gz"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
