name: Build Release Artifacts

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Packages
        run: sudo apt-get update && sudo apt-get -y install g++-mingw-w64

      - name: Get Submodule
        run: git submodule update --init --recursive

      - name: Build
        run: make deploy -j

      - name: Upload Artifacts
        uses: Roang-zero1/github-upload-release-artifacts-action@v2
        with:
          args: "deploy/atmosim-windows-amd64.zip deploy/atmosim-linux-glibc-amd64.tar.gz"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
